# База данных PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=mini_url

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# JWT
JWT_SECRET=your-secret-key-here

# Сервер
PORT=8080

# Настройки ссылок
SHORT_ID_LENGTH=7
LINK_EXPIRATION_DAYS=30
MAX_LINKS_PER_USER=100